<!-- The footer to be displayed -->
<footer>
    <div class="contsiner-fluid padding">
        <div class="row text-center">
            <div class="col-md-4">
                <h2>Sophyre's Orbit</h2>
                <hr class="light">
                <p>0813-859-1185</p>
                <p>youremailaddress@provider.com</p>
                <p>Street that I obviously can't remember</p>
                <p>City, State, Country</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h4>Our Hours</h4>
                <hr class="light">
                <p>Monday - Friday: <em>9:00am - 5:00pm:</em></p>
                <p>Saturday: <em>10:00am - 4:00pm</em></p>
                <p>Sunday: <em>We need to rest you perverted selfish asshole</em></p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h4>Miscellaneous</h4>
                <hr class="light">
                <p>I have no idea what should be here</p>
                <p>Nobody Belongs Anywhere</p>
                <p>Nobody Exists On Purpose</p>
                <p>We Will All Die</p>
            </div>
            <div class="col-12">
                <hr class="light-100">
                <h5>&copy; Porn Watching Dude</h5>
            </div>
        </div>
    </div>
</footer>
