<!-- <div class="dropzone">
     <div class="input-group mb-3">
        <div class="custom-file">
          <input type="file" (change)="upload($event)" class="custom-file-input" accept=".png,.jpg" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
          <label class="custom-file-label" for="inputGroupFile01">Choose Image</label>
        </div>
      </div>
      <progress max="100" [value]="(uploadPercent | async)"></progress>
        <div class="result" *ngIf="downloadURL | async; let uploadSrc">
            <a [href]="uploadSrc">You just uploaded this file!</a>
        </div>
</div> -->
<div class="wrapper" style="background-image: url('../../../assets/img/bg-registration-form-1.jpg');">
  <div class="inner">
      <div class="image-holder">
          <img src="../../../assets/img/obi-onyeador.jpg" alt="">
      </div>
      <form [formGroup]="uploadItem">
          <h3>Upload Item</h3>
          <div class="form-group">
              <input type="text"  formControlName="itemName" placeholder="Item Name" class="form-control">
          </div> 
          <div class="form-wrapper">
              <select name="category" formControlName="category" id="category" class="form-control">
                  <option value="" disabled selected>Category</option>
                  <option value="gown">Gown</option>
                  <option value="native">Native</option>
                  <option value="other">Other</option>
              </select>
          </div>
          <div class="form-wrapper">
              <input type="number"  formControlName="price" placeholder="Item Price" class="form-control">
          </div>

         <div class="form-wrapper">
              <input type="text" name="description" placeholder="Description" formControlName="description" class="form-control">
          </div>
          
          <div class="form-wrapper">
              <input type="file" (change)="upload($event)" formControlName="file" class="form-control">
              <progress max="100" [value]="(uploadPercent | async)"></progress>
          </div>
          <button type="button" [disabled]="uploadItem.invalid" (click)="submitForm()">Upload</button>
      </form>
  </div>
</div>
