<div class="wrapper" style="background-image: url('../../../assets/img/bg-registration-form-1.jpg');">
    <div class="inner">
        <div class="image-holder">
            <img src="../../../assets/img/judeus-samson.jpg" alt="">
        </div>
        <form [formGroup]="signUpForm">
            <h3>Registration Form</h3>
            <div class="form-group">
                <input type="text"  formControlName="firstName" placeholder="First Name" class="form-control"
                [class.invalid]="signUpForm.controls.firstName.invalid && (submitAttempt || signUpForm.controls.firstName.touched || signUpForm.controls.firstName.dirty)">
                <input type="text"  formControlName="lastName" placeholder="Last Name" class="form-control"
                [class.invalid]="signUpForm.controls.lastName.invalid && (submitAttempt || signUpForm.controls.lastName.touched || signUpForm.controls.lastName.dirty)">
            </div>
            <div class="remove-margin">
                <p *ngIf="!signUpForm.controls.firstName.valid && (submitAttempt || signUpForm.controls.firstName.touched || signUpForm.controls.firstName.dirty)">
                    First Name is Required
                </p>
                <p *ngIf="signUpForm.controls.lastName.invalid && (submitAttempt || signUpForm.controls.lastName.touched || signUpForm.controls.lastName.dirty)">
                    Last name is Required
                </p>
            </div>
            <div class="form-wrapper">
                <input type="text"  formControlName="username" placeholder="Username" class="form-control"
                [class.invalid]="signUpForm.controls.username.invalid && (submitAttempt || signUpForm.controls.username.touched || signUpForm.controls.username.dirty)">
            </div>
            <div class="remove-margin" *ngIf="signUpForm.controls.username.invalid && (submitAttempt || signUpForm.controls.username.touched || signUpForm.controls.username.dirty)">
                <p>
                    Username is Required
                </p>
            </div>
            <div class="form-wrapper">
                <input type="text"  formControlName="email" placeholder="Email Address" class="form-control"
                [class.invalid]="signUpForm.controls.email.invalid && (submitAttempt || signUpForm.controls.email.touched || signUpForm.controls.email.dirty)">
            </div>
            <div class="remove-margin" *ngIf="signUpForm.controls.email.invalid && (submitAttempt || signUpForm.controls.email.touched || signUpForm.controls.email.dirty)">
                <p>Email is Required Or Not Valid</p>
            </div>
            <div class="form-wrapper">
                <select name="gender" formControlName="gender" id="gender" class="form-control"
                [class.invalid]="signUpForm.controls.gender.invalid && (submitAttempt || signUpForm.controls.gender.touched || signUpForm.controls.gender.dirty)">
                    <option value="" disabled selected>Gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <div class="remove-margin" *ngIf="signUpForm.controls.gender.invalid && (submitAttempt || signUpForm.controls.gender.touched || signUpForm.controls.gender.dirty)">
                <p>Please select your gender</p>
            </div>
            <div class="form-wrapper">
                <select name="role" formControlName="role" id="role" class="form-control"
                [class.invalid]="signUpForm.controls.role.invalid && (submitAttempt || signUpForm.controls.role.touched || signUpForm.controls.role.dirty)">
                    <option value="" disabled selected>Role</option>
                    <option value="admin">Administrator</option>
                    <option value="author">Author</option>
                </select>
            </div>
            <div class="remove-margin" *ngIf="signUpForm.controls.role.invalid && (submitAttempt || signUpForm.controls.role.touched || signUpForm.controls.role.dirty)">
                <p>Please Select User Role</p>
            </div>
            <div class="form-wrapper">
                <input type="password" formControlName="password" placeholder="Password" class="form-control"
                [class.invalid]="signUpForm.controls.password.invalid && (submitAttempt || signUpForm.controls.password.touched || signUpForm.controls.password.dirty)">
            </div>
            <div class="remove-margin" *ngIf="signUpForm.controls.password.invalid && (submitAttempt || signUpForm.controls.password.touched || signUpForm.controls.password.dirty)">
                <p *ngIf="signUpForm.controls.password.value">
                    Password Must be More Than 6 Characters
                </p>
                <p>Password Is Required</p>
            </div>
            <div class="form-wrapper">
                <input type="password" formControlName="confirmPassword" placeholder="Confirm Password" class="form-control"
                [class.invalid]="signUpForm.controls.confirmPassword.invalid && (submitAttempt || signUpForm.controls.confirmPassword.touched || signUpForm.controls.confirmPassword.dirty)">
            </div>
            <div class="remove-margin" *ngIf="signUpForm.controls.confirmPassword.invalid && (submitAttempt || signUpForm.controls.confirmPassword.touched || signUpForm.controls.confirmPassword.dirty)">
                <p *ngIf="signUpForm.controls.password.value != signUpForm.controls.confirmPassword.value">
                    Password and Confirm Password field must match
                </p>
                <p>Confirm Password Field is Required</p>
            </div>
            <button (click)="signUp()">Register
                <i class="zmdi zmdi-arrow-right"></i>
            </button>
        </form>
        <!-- <div>
            <p>Form Status: {{signUpForm.status}}</p>
        </div> -->
    </div>
</div>