<div class="wrapper" style="background-image: url('../../../assets/img/bg-registration-form-1.jpg');">
    <div class="inner">
        <div class="image-holder">
            <img src="../../../assets/img/judeus-samson.jpg" alt="">
        </div>
        <form [formGroup]="signUpForm">
            <h3>Registration Form</h3>
            <div class="form-group">
                <input type="text"  formControlName="firstName" placeholder="First Name" class="form-control"
                [class.invalid]="signUpForm.controls.firstName.invalid && (submitAttempt || signUpForm.controls.firstName.touched || signUpForm.controls.firstName.dirty)">
                <input type="text"  formControlName="lastName" placeholder="Last Name" class="form-control">
            </div>
            <div>
                <p *ngIf="signUpForm.controls.firstName.invalid && (submitAttempt || signUpForm.controls.firstName.touched || signUpForm.controls.firstName.dirty)">
                    First Name is Required
                </p>
            </div>
            <div class="form-wrapper">
                <input type="text"  formControlName="username" placeholder="Username" class="form-control">
                <i class="zmdi zmdi-account"></i>
            </div>
            <div class="form-wrapper">
                <input type="text"  formControlName="email" placeholder="Email Address" class="form-control">
                <i class="zmdi zmdi-email"></i>
            </div>
            <div class="form-wrapper">
                <select name="gender" formControlName="gender" id="gender" class="form-control">
                    <option value="" disabled selected>Gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                </select>
                <i class="zmdi zmdi-caret-down" style="font-size: 17px"></i>
            </div>
            <div class="form-wrapper">
                <select name="role" formControlName="role" id="role" class="form-control">
                    <option value="" disabled selected>Role</option>
                    <option value="admin">Administrator</option>
                    <option value="author">Author</option>
                    <option value="user">User</option>
                </select>
                <i class="zmdi zmdi-caret-down" style="font-size: 17px"></i>
            </div>
            <div class="form-wrapper">
                <input type="password" formControlName="password" placeholder="Password" class="form-control">
                <i class="zmdi zmdi-lock"></i>
            </div>
            <div class="form-wrapper">
                <input type="password" formControlName="confirmPassword" placeholder="Confirm Password" class="form-control">
                <i class="zmdi zmdi-lock"></i>
            </div>
            <button (click)="signUp()">Register
                <i class="zmdi zmdi-arrow-right"></i>
            </button>
        </form>
        <div>
            <p>Form Status: {{signUpForm.status}}</p>
        </div>
    </div>
</div>