<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">
			<div class="login100-form-title" style="background-image: url(../../../../../assets/img/bg-01.jpg);">
				<span class="login100-form-title-1">
					Sign In
				</span>
			</div>

			<form [formGroup]="loginForm" class="login100-form validate-form">
				<div class="wrap-input100 validate-input m-b-26">
					<span class="label-input100">Email</span>
					<input class="input100" formControlName="email" type="text" name="email" placeholder="Enter Email"
					[class.invalid]="!loginForm.controls.email.valid && (loginForm.controls.email.dirty || loginForm.controls.email.touched || submitAttempt)">
					<span class="focus-input100"></span>
				</div>
					<p class="error-message" *ngIf="!loginForm.controls.email.valid && (loginForm.controls.email.dirty || loginForm.controls.email.touched || submitAttempt)">
						Email not entered or Vaild
					</p>

				<div class="wrap-input100 validate-input m-b-18">
					<span class="label-input100">Password</span>
					<input class="input100" formControlName="password" type="password" name="pass" placeholder="Enter password"
					[class.invalid]="!loginForm.controls.password.valid && (loginForm.controls.password.dirty || loginForm.controls.password.touched || submitAttempt)">
					<span class="focus-input100"></span>
				</div>
				<p class="error-message" *ngIf="!loginForm.controls.password.valid && (loginForm.controls.password.dirty || loginForm.controls.password.touched || submitAttempt)">
					Password not entered or Vaild
				</p>

				<div class="flex-sb-m w-full p-b-30">
					
					<div>
						<a href="#" class="txt1">
							Forgot Password?
						</a>
					</div>
				</div>

				<ng-template #displayText>
					<div class="btn btn-success">
						<button type="button" (click)="login()" [disabled]="loginForm.invalid">
							Login
						</button>
					</div>
				</ng-template>
				
				<div *ngIf="submitAttempt; else displayText" class="spinner-grow text-success" role="status">
					<span class="sr-only">Loading...</span>
				  </div>
			</form>
		</div>
	</div>
</div>

