<!-- Image Slider -->
<div id="slides" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#slides" data-slide-to="0" class="active"></li>
        <li data-target="#slides" data-slide-to="1"></li>
        <li data-target="#slides" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../../assets/img/obi-onyeador.jpg" alt="">
            <div class="carousel-caption">
                <h1 class="display-2">Be Chic</h1>
                <button type="button" routerLink="/gallery" class="btn btn-outline-light btn-lg">Gallery</button>
                <button type="button" class="btn btn-primary btn-lg">Services</button>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../../assets/img/darko-mitev.jpg" alt="">
            <div class="carousel-caption">
                <h1 class="display-2">Be Classy</h1>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../../assets/img/efren-barahona.jpg" alt="">
            <div class="carousel-caption">
                <h1 class="display-2">Be Sassy</h1>
            </div>
        </div>
    </div>
</div>

<!-- Jumbotron -->
<div class="container-fluid">
    <div class="row jumbotron">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
            <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid officia delectus corporis at veniam assumenda consectetur reiciendis veritatis laborum tempora.
            </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
            <a href="#">
                <button type="button" class="btn btn-outline-secondary btn-lg">Services</button>
            </a>
        </div>
    </div>
</div>

<!-- Welcome Section -->
<div class="container-fluid">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">Welcome to Sophyre's Orbit</h1>
        </div>
        <hr>
        <div class="col-12">
            <p class="lead">Where you can be the best version of yourself. We strongly believe that how you dress is how you'll be adressed so why don't you help us help you look like the boss that you are</p>
        </div>
    </div>
</div>

<!-- Three Column Section -->

<div class="container-fluid padding">
    <div class="row text-center padding">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <!-- <fa-icon [icon]="faCode"></fa-icon> -->
            <img src="../../../assets/img/daniela-mota.jpg" class="circle" alt="">
            <h3>Be Chic</h3>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <!-- <fa-icon [icon]="faBold"></fa-icon> -->
            <img src="../../../assets/img/ussama-azam.jpg" class="circle" alt="">
            <h3>Be Classy</h3>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="col-sm-12 col-md-4">
            <!-- <fa-icon [icon]="faCube"></fa-icon> -->
            <img src="../../../assets/img/alex-blajan.jpg" class="circle" alt="">
            <h3>Be Sassy</h3>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
    </div>
    <hr class="my-4">
</div>

<!-- Two Column Section -->
<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-lg-6">
            <h2>Sophyre's Orbit</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, ipsa.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque pariatur corporis tempora voluptatum vel deleniti?</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit, molestias.</p>
            <br>
            <a routerLink="/about">
                <button type="button" class="btn btn-primary">Learn More</button>
            </a>
        </div>
        <div class="col-lg-6">
            <img src="../../../assets/img/sophyresorbit_logo.jpg" class="img-fluid" alt="">
        </div>
    </div>
</div>
<hr class="my-4">

<!-- Gif Section -->
<button class="fun" data-toggle="collapse" data-target="#emoji">Click For Weird Super Creepy Gif</button>
<div id="emoji" class="collapse">
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-12">
                <!-- Download fashion gif and put in the img src attribute -->
                <img class="gif" src="../../../assets/img/fashion1.gif" alt="">
            </div>
        </div>
    </div>
</div>

<!-- Meet the team -->
<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">Meet The Team</h1>
        </div>
        <hr>
    </div>
</div>

<!-- Cards -->
<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-md-4">
            <div class="card">
                <img src="../../../assets/img/ussama-azam-fine.jpg" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">Onome [Surname]</h4>
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                    <a href="#" class="btn btn-outline-secondary btn-lg">See Profile</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="../../../assets/img/tamara-bellis.jpg" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">Ogorgor [Surname]</h4>
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                    <a href="#" class="btn btn-outline-secondary btn-lg">See Profile</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="../../../assets/img/judeus-samson.jpg" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">Favour [Surname]</h4>
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                    <a href="#" class="btn btn-outline-secondary btn-lg">See Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Two Column Section -->
<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-lg-6">
            <h2>Our Philosophy</h2>
            <p>I really don't have the mental fortitude to come up with words this night cause I am stressed and reaaaally sleepy so "Gracias Amigo"</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque pariatur corporis tempora voluptatum vel deleniti?</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit, molestias.</p>
            <br>
        </div>
        <div class="col-lg-6">
            <img src="../../../assets/img/naeim-jafari.jpg" class="img-fluid" alt="">
        </div>
    </div>
</div>
<hr class="my-4">

<!-- Connect -->

<div class="container-fluid padding">
    <div class="row text-center padding">
        <div class="col-12">
            <h2>Connect</h2>
        </div>
        <div class="col-12 social padding">
            <!-- Replace with original Facebook Icon later -->
            <a target="_blank" class="facebook" href="https://facebook.com"><fa-icon [icon]="faFacebook"></fa-icon></a>
            <!-- Replace With original Instagram Icon later -->
            <a target="_blank" class="instagram" href="https://instagram.com"><fa-icon [icon]="faInstagram"></fa-icon></a>
            <!-- Replace with original Twitter Icon later -->
            <a target="_blank" class="twitter" href="https://twitter.com"><fa-icon [icon]="faTwitter"></fa-icon></a>
            <!-- Replace with original Telegram Icon Later -->
            <a target="_blank" class="telegram" href="https://telegram.org"><fa-icon [icon]="faTelegram"></fa-icon></a>
        </div>
    </div>
</div>