/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    width: 100%;
    color: #222;
    margin: 0;
}

/* Media Queries */
@media (max-width: 992px) {
    .social a {
        font-size: 4em;
        padding: 2rem;
    }
}
@media (max-width: 768px) {
    .social a {
        font-size: 2.5em;
        padding: 1.2rem;
    }
}